header.header 
  .container 
    .row
      .col-3.align-items-center
        .inner-logo 
          a(href = "/")
            img(src ="", alt ="Logo")
      .col-5 
      .col-4
        .inner-menu 
          ul
            if(user)
              li 
                a(href ="/") Trang chủ
              li 
                a(href ="/user/logout") Đăng xuất
            else
              li 
                a(href ="/user/register") Đăng kí
              li 
                a(href ="/user/login") Đăng nhập
