extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3
    include ../../partials/list-btn-users.pug

    .row 
      .col-12 
        +box-head("Danh sách bạn bè")
    
    .row(data-users-unfriend = user.id)
      each friend in users
        .col-6(user-id = friend.id)
          .box-user
            .inner-avatar
              img(
                src = (friend.avatar?friend.avatar:"https://media.dolenglish.vn/PUBLIC/MEDIA/2b2f1391-7dcd-4d41-b1eb-2273c8cd00de.jpg")
                alt = friend.fullName
              )
            .inner-info
              .inner-name #{friend.fullName}
              .inner-buttons
                a(
                  href = `/chat/${friend.roomChatId}`
                  class = "btn btn-sm btn-primary mr-1"
                ) Nhắn tin

                button(
                  button-unfriend = friend.id
                  class = "btn btn-sm btn-danger mr-1"
                ) Hủy kết bạn